.div-container {
  text-align: center;
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.div-container header {
  color: white;
  display: flex;
  height: 10%;
  background-color: #313a61;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding-left: 1rem;
}
.div-container main {
  width: 100%;
  min-height: 100vh;
  background-color: gray;
  display: flex;
}
.div-container footer {
  height: 10%;
  background-color: #313a61;
  width: 100%;
  bottom: 0;
  color: #313a61;
  height: 40px;
}

.sect-filtro {
  background-color: blueviolet;
  width: 15%;
}
.sect-produtos {
  background-color: white;
  width: 65%;
  padding: 10px;
}

.CardProduto {
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 10px 10px 5px lightblue;
  width: 90%;
  height: 100%;
}

.CardProduto button {
  border-radius: 25px;
  width: 40%;
  height: 10%;
  cursor: pointer;
  padding-bottom: 1rem;
}

.CardProduto button:hover {
  color: white;
  background-color: black;
}

.CardProduto img {
  width: 10rem;
  height: 10rem;
  padding-top: 15px;
}

.sect-carrinho {
  background-color: blueviolet;
  width: 23%;
  display: flex;
  flex-direction: column;
}

.div-filtragem {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  color: black;
  font-weight: bold;
  background-color: white;
}
.div-produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 20px;
}
.div-ordenacao {
  display: flex;
  align-items: center;
}
  

.div-ordenacao select {
  width: 100%;
  height: 2rem;
  border-radius: 4px;
  margin-left: 1rem;
}



.itensCarrinho {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  
}

.itensCarrinho button {
  border-radius: 25px;
  height: 10%;
  width: 5rem;
  cursor: pointer;
}

.itensCarrinho button:hover {
  color: white;
  background-color: black;
}
